@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200;300;400;500;600;700&family=Pacifico&family=Poppins:wght@400;500;600;700&display=swap');

html, body{
    background-color: #F5F6E3;

}


@font-face {
    font-family: mazzardBold;
    src: url(fonts/MazzardH-Bold.otf);
}

@font-face {
    font-family: mazzardExtraLight;
    src: url(fonts/MazzardH-ExtraLight.otf);
}


.hero-banner{
    bottom: 5px;
    left: 510px;
}

.hero-section{
    background-image:url('images/Union.png');
    position: relative; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1290px; /* Set the section's height to auto to fit the image size */
}

img#mask{
    position: absolute;
    bottom: 0%;
    z-index: 1;
    left: 0;
}

div#exploreMore{
    position: absolute;
    bottom: 2%;

}

h1.hero-text{
    color: white;
    font-family: mazzardBold;
    font-size: 80px;
}

.hq p{
    font-family: mazzardExtraLight;
    color: white;
}

span.circles-text{
    margin-top: 50%;
}

section.aboutUs{
    font-family: 'Montserrat', sans-serif;
}

.aboutUs-text{
    background-color: #0F152B;
    color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 28px;
    padding-left: 10px;
    padding-top: 5px;
    font-weight: 500;
}

div.call-button{
    background-color: #0F152B;
    width: auto;
    border-radius: 50px;
    padding: 10px;
    margin-right: 70%;
}

div.gradient span{
    background: -webkit-linear-gradient(#3E92B6, #9CC4E1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

hr{
    border: 1px solid #0F152B;
}

div.rectangle-outline{
    border:1px solid #5A6282;
    height: 250px;
    width: 250px;
    border-radius: 20px;
}

div.rectangle-fill{
    height: 250px;
    width: 250px;
    border-radius: 20px;
    background-color: #0F152B;
    color: white
}

img.circles{
    margin-top:-20px;
}

div.rectangle-outline span{
    color: black;
    font-size: 24px;
}

img.slider{
    margin-left: -50%;
}

div.slider{
    overflow: hidden;
}

div.wrapper img{
    z-index: -1;
    
}

div.wrapper div{
    z-index: 2;
    top: 35px;
    left: 40px;
    color: white;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}


div.wrapper p{
    z-index: 2;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 42px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    width: 120%;
}


div#number2{
    top: 35px;
    left: 65%;
    color: white;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

p#number2{
    top: 70%;
    left: 43%;
    color: white;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    width: 300px;
}

div#number3{
    top: 35px;
    left: 10%;
    color: black;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

p#number3{
    top: 70%;
    left: 43%;
    color: black;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    width: 300px;
}

section.testimonials{
    background-image: url(images/Testimonials\ Background.png);
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
}

div.testimonials-header{
    font-size: 72px;
    font-family: 'Montserrat', sans-serif;
    background: -webkit-linear-gradient(#3E92B6, #9CC4E1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    text-align: center;
    margin-top: 10%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%; 
    margin-top: 30px;

  }

p#Jane{
    position: absolute;
    top: 15%;
    left: 56%;
    color: black;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

p#age{
    position: absolute;
    top: 23%;
    left: 48%;
    color: black;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

i#star1{
    position: absolute;
    top: 28%;
    left: 45%;
    color: #9CC4E1;
}

i#star2{
    position: absolute;
    top: 28%;
    left: 47%;
    color: #9CC4E1;
}

i#star3{
    position: absolute;
    top: 28%;
    left: 49%;
    color: #9CC4E1;
}

i#star4{
    position: absolute;
    top: 28%;
    left: 51%;
    color: #9CC4E1;
}

i#star5{
    position: absolute;
    top: 28%;
    left: 53%;
    color: #9CC4E1;
}

p#review{
    position: absolute;
    top: 64%;
    left: 52%;
    color: black;
    font-size: 25px;
    font-weight: 400;
    width: 50%;
}

section.articles div.header p{
    white-space: pre;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

p.justified{
    text-align: justify;
    color: black
}

div#mentalHealth{
    position: absolute;
    top: 10;
    font-size: 16px;
    background-image: linear-gradient(#3E92B6, #9CC4E1);
    padding-left: 5px;
    padding-right: 5px;
    left: 58%;
}

div#header1{
    position: absolute;
    top: 16%;
    left: 58%;
    font-size: 24px;
}

div#body-blog1{
    position: absolute;
    top: 57%;
    left: 58%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

div#selfUnderstanding{
    position: absolute;
    top: 10;
    font-size: 16px;
    background-image: linear-gradient(#3E92B6, #9CC4E1);
    padding-left: 5px;
    padding-right: 5px;
    left: 13%;
    width: 180px;
}

div#header2{
    position: absolute;
    top: 18%;
    left: 13%;
    font-size: 21px;
    width: 65%;
}

div#body-blog2{
    position: absolute;
    top: 60%;
    left: 13%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    width: 230px;
}

div#goodCondition{
    position: absolute;
    top: 70%;
    font-size: 16px;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    left: 33%;
    width: 135px;
    color: #3E92B6;
}

div#header3{
    position: absolute;
    top: 75%;
    left: 33%;
    font-size: 21px;
    width: 48%;
}

div#body-blog3{
    position: absolute;
    top: 85%;
    left: 33%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    width: 350px;
}

section.footer{
    background-image: url('images/Footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: cover;
    height: 950px; 
    position: relative;
}

.footer img.footerBanner{
    position: absolute;
    top: 0%;
    left: 39%;
}

.footer .consultation{
    position: absolute;
    top: 34%;
    left: 5%;
    right: 5%;
}

.footer .navigation{
    position: absolute;
    bottom: 15%;
    left: 5%;
    right: 5%;
}

div.text-overlay div.row div.col{ 
    top: 40%;
    right: 0%;
}